@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  font-family: "Montserrat", Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background: #070a0e;
  color: #f1f0eb;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
}

body {
  min-height: 100vh;
}
